* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: arial, sans-serif;
}

header {
  position: relative;
  height: 100vh;
  background-image: url(../img/bookstore2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}


header > * {
  position: absolute;

}

header img {
  width: 200px;
  overflow: hidden;
  top: 20px;
  left: 20px;
  position: absolute;
  /*background-color: #fff;*/
  padding: 15px;
}

header h1 {
  top: 45%;
  width: 100%;
  padding: 20px;
  font-size: 60px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

header button {
  bottom: 80px;
  right: 80px;
  font-size: 40px;
  padding: 10px 50px;
  font-family: roboto condensed, arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 4px solid white;
  transition: .3s;
}

button {
  bottom: 80px;
  right: 80px;
  font-size: 40px;
  padding: 10px 50px;
  font-family: roboto condensed, arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: saddlebrown;
  border: 4px solid saddlebrown;
  transition: .3s;
  margin-bottom: 100px;
}

header button:hover {
  background-color: rgba(0, 0, 0, .5);
}

button:hover {
  background-color: saddlebrown;
  color: white;
}

/**/

section {
  width: 86%;
  margin: 80px auto 0;

}

section p {
  line-height: 1.7;
  font-size: 14px;
  text-indent: 25px;
}




.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: #333;
  width: 100%;
  height: 100%;
  display: none;
}

.popup-content {
  font-family: sans-serif;
  text-align: center;
  background-color: #ddd;
  height: 45vh;
  width: 100%;
  max-width: 50vw;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

.popup a {
  display: block;
  /*height: 60vh;*/
  /*width: 80vw;*/
  /*margin: 5% auto;*/
  /*background-color: rgba(63, 29, 2, 0.8);*/
  /*color: white;*/
  text-decoration: none;
  padding: 6px 10px;
}

.popup-close {
  font-size: 1.8em;
  position: absolute;                     /*względem div .popup*/
  top: 5px;
  right: 8px;
  cursor: pointer;
}

.popup-content h2 {
  font-size: 2.3em;
  letter-spacing: 2px;
  padding: 30px;
}

.popup-content p {
  font-size: 1.3em;
  line-height: 2.3em;

}

.popup-content a {
  color: #333333;
}

.fa-solid {
  padding-right: 10px;
}


/**/

@media (max-width: 1024px) {
  header {
    background-size: cover;
  }
  .popup-content {
    height: 50vh;
    width: 100%;
    max-width: 60vw;
    margin: 15% auto;
    padding: 20px;
  }

}

@media (max-width: 812px) and (orientation: landscape) {
  header img {
    width: 25%;
  }

  header h1 {
    font-size: 32px;
  }

  header button {
    bottom: 30px;
    font-size: 26px;
  }

  .popup-content {
    height: 70vh;
    width: 100%;
    max-width: 60vw;
    margin: 5% auto;
    padding: 20px;
  }
}

@media (max-width: 812px) and (orientation: portrait) {
  header img {
    width: 25%;
  }

  header h1 {
    font-size: 32px;
  }

  header button {
    bottom: 30px;
    font-size: 26px;
  }

  .popup-content {
    height: 50vh;
    width: 100%;
    max-width: 60vw;
    margin: 15% auto;
    padding: 20px;
  }
}

@media (max-width: 533px) and (orientation: landscape) {

  header h1 {
    top: 40%;
    font-size: 24px;
  }

  header button {
    bottom: -15px;
    font-size: 22px;
  }

  .popup-content {
    height: 70vh;
    width: 100%;
    max-width: 70vw;
    margin: 5% auto;
    padding: 20px;

  }
  .popup-content h2 {
    font-size: 18px;
  }
  .popup-content p {
    font-size: 14px;
    line-height: 1em;
  }

}

@media (max-width: 533px) and (orientation: portrait) {

  header h1 {
    top: 40%;
    font-size: 28px;
  }

  header button {
    bottom: 30px;
    font-size: 22px;
  }

  .popup-content {
    height: 50vh;
    width: 100%;
    max-width: 90vw;
    margin: 15% auto;
    padding: 10px;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  header img {
    left: 10%;
    width: 80%;
  }

  header h1 {
    top: 50%;
    font-size: 28px;
    line-height: 180%;
  }

  header button {
    bottom: 30px;
    right: 10%;
    width: 80%;
    font-size: 22px;
  }

  .popup-content {
    height: 90vh;
    width: 100%;
    max-width: 99vw;
    margin: 2% auto;
    padding: 10px;
  }
}

@media (max-width: 360px) and (orientation: portrait) {

  header h1 {
    font-size: 28px;
    top: 50%;
  }

  .popup-content {
    height: 90vh;
    width: 100%;
    max-width: 99vw;
    margin: 2% auto;
    padding: 10px;
  }

}

@media (max-width: 320px) and (orientation: portrait) {

  header h1 {
    font-size: 18px;
    top: 50%;
  }

  header button {
    font-size: 18px;
  }

  .popup-content {
    height: 90vh;
    width: 100%;
    max-width: 99vw;
    margin: 2% auto;
    padding: 10px;
  }
}
